# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# bazel
bazel-bin
bazel-genfiles
bazel-nsasm
bazel-out
bazel-testlogs
MODULE.bazel*

# vscode
.vscode

# github
.devcontainer/devcontainer.json
